.App {
  font-family: sans-serif;
  text-align: center;
}

.User {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}
.Tickers {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}
.Notifs {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}

.Fear {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}
.Liveprices {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}
.Winlose {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}
.Liquidations {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}
.Charts {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}

.wrapper {
  width: fit-content;
  max-width: 100px;
  height: fit-content;
  border: 2px solid rgb(134, 133, 133);
  margin-top: 10px;
  margin-left: 10px;
  background: white;
  text-align: left;
  /* max-height: 100px; */
}
.Mcap {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}
.Goi {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}
.Charts {
  padding: 10px;
  margin: 10px;
  border: 2px solid #1c6ea4;
}
